body {
    font-family: Arial, sans-serif;
    background-color: darkgray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    max-height: 100vh; /* Ensure container fits within viewport */
    overflow: auto; /* Allow scrolling if content overflows */
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

select, textarea, input[type="submit"] {
    width: calc(100% - 40px); /* Adjust width to ensure consistent sizing */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

textarea {
    resize: vertical;
    outline: none;
    resize: none;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

img {
    max-width: 100%;
    max-height: 200px; /* Ensure image doesn't take up too much vertical space */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: 20px;
}

p {
    color: darkgray;
    margin-top: 20px; /* Add margin to ensure space below other elements */
}
